RegAD/__pycache__
RegAD/env
RegAD/models/__pycache__
RegAD/utils/__pycache__
RegAD/datasets/__pycache__

PaDiM/__pycache__

DFR/__pycache__
DFR/models/__pycache__

env/
.directory
build/
Unsupervised_Anomaly_Detection.egg-info/
